@model JiaoZi.Models.Kongjianban
    <!--发说说-->
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #shuoshuoinput {
   
    max-width:50%;
    }
</style>
@using (Html.BeginForm("shuoshuo", "Kongjian",FormMethod.Post))
{
    <div >
       
        @*@Html.TextAreaFor(model => model.sendshuo.Shuoshuo_Content, new { name= "shuoshuoinput",placeholder = "发表说说"  })*@
        @Html.TextArea("shuoshuoinput",new { placeholder="输入文字"})
        <input type="submit" value="fasong"/>
    </div>
}
<!--说说历史-->

<div>
@foreach (var item in Model.UserAllShuo)
{
    <div class="row" style="height: 200px;background-color:antiquewhite">
        <!-- 左-->
        <div class="col-md-2" style="height:100%;">
            <!-- 头像 -->
            <div style="height:20%">
                @Session["User_image"]
            </div>
            <!-- 留白 -->
            <div style="height:80%"></div>
        </div>
        <!--中-->
        <div class="col-md-8" style="height:100%;">
            <!-- 网名 -->
            <div style="height:30%;width:100%;background-color:aqua;"></div>
            <!-- 内容 -->
            <div style="height:50%;width:100%;background-color:aquamarine;overflow-y:auto">
                <h4>
                    @item.Shuoshuo_Content
                </h4>
            </div>
            <!-- 点赞、评论、时间 -->
            <div style="height:20%;width:100%;background-color:bisque">
                @item.Shuoshuo_Time              
              <p>dianzhan</p>
                <p>评论</p>
            </div>
        </div>
        <!-- 右 -->
        <div class="col-md-2" style="height:100%;">
            <div style="height:20%"></div>
            <div style="height:80%"></div>
        </div>
    </div>
    <!--评论-->
    <div>
        @foreach (var com in Model.ShuoCommentById)
        {
            @com.ShuoshuoCommentID
            @com.Comment_Content
        }
    </div>
}
   
</div>

 